<app-parent></app-parent>
<ng-template [ngIf]="lessons" [ngIfElse]="loading">
  <div style="text-align:center" >
    <div class="first-div" [ngClass]="{dynamic:bool}">
      <h1 title="This is an Angular 4">Welcome to {{title}}</h1>
    </div>
    <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

    <app-child *ngIf="showChild" [title]="title"></app-child>
  </div>

  <label for="title">Title:</label>
  <input type="text" id="title" (change)="onChange(inputtitle.value)" #inputtitle [value]="title">

  <button (click)="toggleChild()">Toggle child component</button>

</ng-template>

<ng-template #loading>
  <div>
    Loading....
  </div>
</ng-template>
